Support <presence/>-less client connections

Hi,

I am trying to log in, query PEP node for user activity (xep-0108), publish something on this node, disconnect and shut down.

I would prefer to minimize the notifications to other users, I would prefer to minimize the traffic, and therefore I don't need or wish to publish presence or receive presences. Publishing a presence would encourage clients to do other communications with the PEP publisher.

Could you add an option to sign in without sending `<presence/>`? There is already a comment wondering exactly whether this should happen. I believe no, there should not be auto-sent `<presence/>`; and if yes, it should be configurable what the presence contains (capabilities, status type, status text, ...).

Perhaps the default shouldn't change to avoid breaking existing clients, but it should be possible to switch the sending off.

Yes, we need to make that possible, especially to let user customize that presence.
I think it may happen for example in a  post connection hook, that could be overriden to avoid sending the presence.
My main concern is that many newcomers to XMPP do not realize that without sending a presence, they will not be able to do much with that connection. The lib should do the right thing as default. If they customize that post connect hook, they may change the behaviour without realizing it.

> My main concern is that many newcomers to XMPP do not realize that without sending a presence, they will not be able to do much with that connection. 

I'm not sure that "not be able to do much with that connection" is right. You mainly lose presence from other members in your roster. For newcomers, I can't think off top of my head what they would lose.

I'd say samples with instructive `// comments` are good enough to ensure newcomers actually send a `<presence />`? :)

If you do not send initial presence, you are not registered to get message routed to you. You will not receive your offline messages. I am not 100% sure of the current state for most server, but I think you should probably not receive any message at all if you do not send that initial presence.

> If you do not send initial presence, you are not registered to get message routed to you. You will not receive your offline messages. I am not 100% sure of the current state for most server, but I think you should probably not receive any message at all if you do not send that initial presence. I do not think you receive pubsub message either without an initial presence.

Can you cite the RFC/XEP that says this? This should not be true.

A `<bind/>` should be enough for the local server to route the traffic for a fulljid and even a barejid. See [RFC 6120 section 10.5.3.2](https://tools.ietf.org/html/rfc6120#section-10.5.3.2). This should especially be true if carbons are enabled.

If servers are not behaving like so, I would argue they are not interpreting RFC 6120 correctly, as I don't see a requirement for a `<presence/>` to be published. A `<presence/>` is a good indicator that a user is online when XMPP components and remote servers need to act upon this, but I don't believe it's a minimum requirement for a local server to route or deliver messages.

In particular, a pubsub component does not have to worry if the user is online; the authoritative routing server for the local domain can check how to deliver the published message once it's delivered. Unless I am misunderstanding XEP-0060, delivery only to online users is an optional feature (["12.5 Presence-Based Delivery of Events"](https://xmpp.org/extensions/xep-0060.html#impl-presence) says "Implementations of pubsub MAY deliver event notifications only when the subscriber is online.") so activating delivery based solely on `<presence/>` is an optional behavior, not something to use to decide whether to require auto-send of `<presence/>` on.

I certainly don't think every client should appear as online to presence-subscribers if there's no value in that, and standards seem to support this.

What do you think? Did I misinterpret something?

See https://xmpp.org/rfcs/rfc6121.html#message section 8.5.2.1.1.
To know if you can route a message to a session, the server need to check against the presence priority. If you have not send a presence, you do not have a presence priority to compare to.

For pubsub service, your point is true, but the message will still get to the router to apply general delivery rules. It gets back to my previous point, and thus without an initial presence, there is no presence priority to refer to.

You should also read: https://xmpp.org/rfcs/rfc6121.html#presence-fundamentals

It may also state it in a clearer way:

> After a client completes the preconditions specified in [XMPP‑CORE], it can establish a "presence session" at its server by sending initial presence, where the presence session is terminated by sending unavailable presence. For the duration of its presence session, a connected resource (in the terminology of [XMPP‑CORE]) is said to be an "available resource".

The precondition is the bind you are referring to, but it is not enough to establish a “presence session”. Without presence, you do not have an available resource, without an available resource, you do not get message routed.

Thus, the next section: Initial presence. It is not described as optional and there is no implicit priority value in the absence of routing that the router has to take into account.

Finally, I think you should try with a real server to check those assumptions.

I hope it is clearer.

That’s why, yes, I would like to give control on the initial presence, but I do not want beginner lose time investigating why they do not get messages, just to discover they need to receive an initial presence for getting their ‘presence session’ established and get messages.


> See https://xmpp.org/rfcs/rfc6121.html#message section 8.5.2.1.1.
> To know if you can route a message to a session, the server need to check against the presence priority. If you have not send a presence, you do not have a presence priority to compare to.
>
> For pubsub service, your point is true, but the message will still get to the router to apply general delivery rules. It gets back to my previous point, and thus without an initial presence, there is no presence priority to refer to.
>
> [....]
>
> Thus, the next section: Initial presence. It is not described as optional and there is no implicit priority value in the absence of routing that the router has to take into account.

A presence session is not the same as a connected resource, and in fact, RFC6121 4.1 makes that distinction. RFC6120 8.2.1 (Message Semantics) and 10 (delivery rules in Server Rules for Processing XML Stanzas) make no requirement that a presence session is established for delivery of a `<message/>`; in fact, 10.5.3.2 makes this requirement for delivery of a `<presence/>` (and imports the meaning of a presence session from RFC6121), but is curiously silent when it comes to `<message/>`. My conclusion is that there is no requirement for the client to send a `<presence/>` for the router to be able to deliver a message to a fulljid, and even to a barejid.

If an implementation is making existence of a presence session a prerequisite and doesn't assume a `<priority/>` of 0, I think that's an implementation detail and, in my opinion, a bug. If I don't need to be aware that someone is online to be able to send a message, why would I need to declare that I am online to all of my presence-subscribers to be able to receive it?

After all, we also have carbons to kick in. `<priority/>` is frequently unused by modern clients anyway: see Conversations. Why not assume it's a zero anyway, and route barejid messages to bound client / connected resource?

Sidenote: RFC6121 /is/ separate from 6120 (as are XEPs of course), so unless RFC6120 makes an explicit reference to 6121, I believe it is possible and sensible to look at 6120 in isolation.

> Finally, I think you should try with a real server to check those assumptions.

I agree, but this would still make this an implementation detail, not part of the standard. 

I don't have a client written that would conveniently let me test this straight away, but I might get around to it. I happen to run Prosody.

> The precondition is the bind you are referring to, but it is not enough to establish a “presence session”. Without presence, you do not have an available resource, without an available resource, you do not get message routed.

Where does it say that? RFC6120 10.5.3.2 doesn't say that, and I don't see RFC6121 does either.

In fact, RFC6121 8.5.2.1 mentions both available and connected resources. Let's consider description of `chat` type:

> If there is more than one resource with a non-negative presence priority then the server MUST either (a) deliver the message to the "most available" resource or resources (according to the server's implementation-specific algorithm, e.g., treating the resource or resources with the highest presence priority as "most available") or (b) deliver the message to all of the non-negative resources that have opted in to receive chat messages. 

Phrasing of (a) esp. "most available" and "implementation specific" gives leeway to not deliver to non-negative presence priority available resources. Phrasing of (b) at most generous gives such leeway in "opted in to receive chat messages". But I don't see where else starting a presence session constitutes opting into receiving chat messages? (I actually see room for improvement in 8.5.2.1, as it mentions connected resources, but doesn't talk about delivery to them in sufficiently excruciating detail. Maybe I should fire off an email to standards@?)

RFC6121 8.5.3.1 clearly proscribes that `<message/>` must be delivered to a fulljid even if it's merely a connected resource.

> Not that I added this presence while developing the library, because even if I am working on ejabberd, I had to pause to get that I forgot to send that presence to receive messages ;)

Thank you for your work!

Apologies for the mess of the message above. Happy to chat in realtime too, if you think it'll make my point easier to share. Let me know and I can join a MUC or share my JID.

Sorry I am usually not I MUC room.
That said, I am not sure indeed this ticket is indeed the right place for long RFC quoting.

I was just trying to be helpful and explain what you would miss without presence, at least with ejabberd that I know the most.
I will let you know make you opinion. 

I stand by my view and will try to find the best approach to make it possible to customize the presence and make it somewhat harder not to send the initial presence unintentionally. I guess this was your original point on the ticket. 

> That said, I am not sure indeed this ticket is indeed the right place for long RFC quoting.

Agreed, sorry about this!

> If you assume that doing nothing = setting a resource session with priority 0, then you will get all offline messages before you get the change to send your negative priority presence.

I think offline message delivery can be indeed tied to existence of a presence, but that assuming presence of zero for messages coming while connected-but-not-available resource is present is not really a problem.

Unless you meant something else: "If messages start flowing as soon as you connect, but before you declare yourself present with a negative priority, you are unable to delay these messages to be delivered to an offline inbox." I agree with this; this is indeed a problem, and should presumably be clarified in the RFC.

I still believe that basic RFC6120 routing doesn't prevent `<message/>` delivery before initial presence, but I now recognize this issue.

> I stand by my view and will try to find the best approach to make it possible to customize the presence and make it somewhat harder not to send the initial presence unintentionally. I guess this was your original point on the ticket.

Thank you; this will enable me to log in with a short-lived-session bot for sending a message without declaring the bot online. (Receipt is not actually important to me, and doesn't make a difference in a client library.)

Should there be an option on Client.Config to indicate what the current desired presence is, and use that in Client.Resume ? Perhaps combined with a utility method to send a new `<presence/>` and update the config in case a client needs to change its presence status?

@wichert Yes, this is what I had in mind, as well.